
body {
    background-color: skyblue;
}


hr {
    border: 0;
    border-top: medium double black;
    height: 1px;
    overflow: visible;
    padding: 0;
    color: black;
    text-align: center;
}

 
.pS{
    margin: auto;
    font-family: Verdana;
    width: 550px;
    height: 300px;
    background: aquamarine;
    color: black;

}